## Patrick ğŸŒ°

In [1]:
# å¯¼å…¥pandasç”¨äºæ•°æ®åˆ†æã€‚
import pandas as pd
# åˆ©ç”¨pandasçš„read_csvæ¨¡å—ç›´æ¥ä»äº’è”ç½‘æ”¶é›†æ³°å¦å°¼å…‹å·ä¹˜å®¢æ•°æ®ã€‚
titanic = pd.read_csv('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic.txt')

In [2]:
# è§‚å¯Ÿä¸€ä¸‹å‰å‡ è¡Œæ•°æ®ï¼Œå¯ä»¥å‘ç°ï¼Œæ•°æ®ç§ç±»å„å¼‚ï¼Œæ•°å€¼å‹ã€ç±»åˆ«å‹ï¼Œç”šè‡³è¿˜æœ‰ç¼ºå¤±æ•°æ®ã€‚
titanic.head()

,row.names,pclass,survived,name,age,embarked,home.dest,room,ticket,boat,sex
0,1,1st,1,"Allen, Miss Elisabeth Walton",29.0000,Southampton,"St Louis, MO",B-5,24160 L221,2,female
1,2,1st,0,"Allison, Miss Helen Loraine",2.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
2,3,1st,0,"Allison, Mr Hudson Joshua Creighton",30.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,(135),male
3,4,1st,0,"Allison, Mrs Hudson J.C. (Bessie Waldo Daniels)",25.0000,Southampton,"Montreal, PQ / Chesterville, ON",C26,NaN,NaN,female
4,5,1st,1,"Allison, Master Hudson Trevor",0.9167,Southampton,"Montreal, PQ / Chesterville, ON",C22,NaN,11,male

In [3]:
# ä½¿ç”¨pandasï¼Œæ•°æ®éƒ½è½¬å…¥pandasç‹¬æœ‰çš„dataframeæ ¼å¼ï¼ˆäºŒç»´æ•°æ®è¡¨æ ¼ï¼‰ï¼Œç›´æ¥ä½¿ç”¨info()ï¼ŒæŸ¥çœ‹æ•°æ®çš„ç»Ÿè®¡ç‰¹æ€§ã€‚
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 11 columns):
row.names    1313 non-null int64
pclass       1313 non-null object
survived     1313 non-null int64
name         1313 non-null object
age          633 non-null float64
embarked     821 non-null object
home.dest    754 non-null object
room         77 non-null object
ticket       69 non-null object
boat         347 non-null object
sex          1313 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 112.9+ KB

In [4]:
# æœºå™¨å­¦ä¹ æœ‰ä¸€ä¸ªä¸å¤ªè¢«åˆå­¦è€…é‡è§†ï¼Œå¹¶ä¸”è€—æ—¶ï¼Œä½†æ˜¯ååˆ†é‡è¦çš„ä¸€ç¯ï¼Œç‰¹å¾çš„é€‰æ‹©ï¼Œè¿™ä¸ªéœ€è¦åŸºäºä¸€äº›èƒŒæ™¯çŸ¥è¯†ã€‚æ ¹æ®æˆ‘ä»¬å¯¹è¿™åœºäº‹æ•…çš„äº†è§£ï¼Œsex, age, pclassè¿™äº›éƒ½å¾ˆæœ‰å¯èƒ½æ˜¯å†³å®šå¹¸å…ä¸å¦çš„å…³é”®å› ç´ ã€‚
X = titanic[['pclass', 'age', 'sex']]
y = titanic['survived']

# å¯¹å½“å‰é€‰æ‹©çš„ç‰¹å¾è¿›è¡Œæ¢æŸ¥ã€‚
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
pclass    1313 non-null object
age       633 non-null float64
sex       1313 non-null object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB

In [6]:
# å€Ÿç”±ä¸Šé¢çš„è¾“å‡ºï¼Œæˆ‘ä»¬è®¾è®¡å¦‚ä¸‹å‡ ä¸ªæ•°æ®å¤„ç†çš„ä»»åŠ¡ï¼š
# 1) ageè¿™ä¸ªæ•°æ®åˆ—ï¼Œåªæœ‰633ä¸ªï¼Œéœ€è¦è¡¥å®Œã€‚
# 2) sex ä¸ pclassä¸¤ä¸ªæ•°æ®åˆ—çš„å€¼éƒ½æ˜¯ç±»åˆ«å‹çš„ï¼Œéœ€è¦è½¬åŒ–ä¸ºæ•°å€¼ç‰¹å¾ï¼Œç”¨0/1ä»£æ›¿ã€‚

# é¦–å…ˆæˆ‘ä»¬è¡¥å……ageé‡Œçš„æ•°æ®ï¼Œä½¿ç”¨å¹³å‡æ•°æˆ–è€…ä¸­ä½æ•°éƒ½æ˜¯å¯¹æ¨¡å‹åç¦»é€ æˆæœ€å°å½±å“çš„ç­–ç•¥ã€‚
X['age'] = X['age'].fillna(X['age'].mean())

/Users/lipengyuan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
# å¯¹è¡¥å®Œçš„æ•°æ®é‡æ–°æ¢æŸ¥ã€‚
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 3 columns):
pclass    1313 non-null object
age       1313 non-null float64
sex       1313 non-null object
dtypes: float64(1), object(2)
memory usage: 30.9+ KB

In [9]:
# ç”±æ­¤å¾—çŸ¥ï¼Œageç‰¹å¾å¾—åˆ°äº†è¡¥å®Œã€‚

# æ•°æ®åˆ†å‰²ã€‚
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 33)

In [10]:
# æˆ‘ä»¬ä½¿ç”¨scikit-learn.feature_extractionä¸­çš„ç‰¹å¾è½¬æ¢å™¨
from sklearn.feature_extraction import DictVectorizer
vec = DictVectorizer(sparse=False)

# è½¬æ¢ç‰¹å¾åï¼Œæˆ‘ä»¬å‘ç°å‡¡æ˜¯ç±»åˆ«å‹çš„ç‰¹å¾éƒ½å•ç‹¬å‰¥ç¦»å‡ºæ¥ï¼Œç‹¬æˆä¸€åˆ—ç‰¹å¾ï¼Œæ•°å€¼å‹çš„åˆ™ä¿æŒä¸å˜ã€‚
X_train = vec.fit_transform(X_train.to_dict(orient='record'))
print( vec.feature_names_)

['age', 'pclass=1st', 'pclass=2nd', 'pclass=3rd', 'sex=female', 'sex=male']

In [11]:
# åŒæ ·éœ€è¦å¯¹æµ‹è¯•æ•°æ®çš„ç‰¹å¾è¿›è¡Œè½¬æ¢ã€‚
X_test = vec.transform(X_test.to_dict(orient='record'))

In [12]:
# ä»sklearn.treeä¸­å¯¼å…¥å†³ç­–æ ‘åˆ†ç±»å™¨ã€‚
from sklearn.tree import DecisionTreeClassifier
# ä½¿ç”¨é»˜è®¤é…ç½®åˆå§‹åŒ–å†³ç­–æ ‘åˆ†ç±»å™¨ã€‚
dtc = DecisionTreeClassifier()
# ä½¿ç”¨åˆ†å‰²åˆ°çš„è®­ç»ƒæ•°æ®è¿›è¡Œæ¨¡å‹å­¦ä¹ ã€‚
dtc.fit(X_train, y_train)
# ç”¨è®­ç»ƒå¥½çš„å†³ç­–æ ‘æ¨¡å‹å¯¹æµ‹è¯•ç‰¹å¾æ•°æ®è¿›è¡Œé¢„æµ‹ã€‚
y_predict = dtc.predict(X_test)

In [14]:
# ä»sklearn.metricså¯¼å…¥classification_reportã€‚
from sklearn.metrics import classification_report
# è¾“å‡ºé¢„æµ‹å‡†ç¡®æ€§ã€‚
print (dtc.score(X_test, y_test))
# è¾“å‡ºæ›´åŠ è¯¦ç»†çš„åˆ†ç±»æ€§èƒ½ã€‚
print (classification_report(y_predict, y_test, target_names = ['died', 'survived']))

0.7811550151975684
              precision    recall  f1-score   support

        died       0.91      0.78      0.84       236
    survived       0.58      0.80      0.67        93

   micro avg       0.78      0.78      0.78       329
   macro avg       0.74      0.79      0.75       329
weighted avg       0.81      0.78      0.79       329

* ç›¸æ¯”äºå…¶ä»–å­¦ä¹ æ¨¡å‹ï¼Œå†³ç­–æ ‘åœ¨æ¨¡å‹æè¿°ä¸Šæœ‰ç€å·¨å¤§çš„ä¼˜åŠ¿ã€‚å†³ç­–æ ‘çš„æ¨è®ºé€»è¾‘éå¸¸ç›´è§‚ï¼Œå…·æœ‰æ¸…æ™°çš„å¯è§£é‡Šè¡Œï¼Œä¹Ÿæ–¹ä¾¿äº†æ¨¡å‹çš„å¯è§†åŒ–ã€‚è¿™äº›ç‰¹å¾çš„åŒæ—¶ä¹Ÿä¿è¯åœ¨ä½¿ç”¨å†³ç­–æ ‘æ¨¡å‹æ—¶ï¼Œæ˜¯æ— éœ€è€ƒè™‘å¯¹æ•°æ®çš„é‡åŒ–ç”šè‡³æ ‡å‡†åŒ–çš„ã€‚å¹¶ä¸”ï¼Œä¸K-Nearest Neighboræ¨¡å‹ä¸åŒï¼Œå†³ç­–æ ‘ä»ç„¶å±äºæœ‰å‚æ•°æ¨¡å‹ï¼Œéœ€è¦èŠ±è´¹æ›´å¤šçš„æ—¶é—´åœ¨è®­ç»ƒæ•°æ®ä¸Šã€‚